<!DOCTYPE html>
<html lang="en">
<html>
<head>
    <meta charset="UTF-8">
    <title>Website Converser</title>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="{{ url_for('static', filename='css/styles.css') }}">
</head>
    <body>
        <div class="container">
            <h1>Website Converser</h1>
            <div class="drop-zone" id="drop-zone">
                <p>Drag and drop your zip file here or click to select a file</p>
                <input type="file" id="file-input" accept=".zip" style="display:none;">
            </div>
            <div class="chat" id="chat">
                <div class="message bot-message">Welcome to the Chat Bot! How can I assist you?</div>
            </div>
            <div class="form-group">
                <input type="text" id="question" name="question" placeholder="Type your message...">
                <div class="select-wrapper">
                    <select id="language">
                        <option value="English">English</option>
                        <option value="Kannada">Kannada</option>
                        <option value="Hindi">Hindi</option>
                    </select>
                </div>
                <button onclick="submitQuestion()">&#x25B6;</button>
            </div>
        </div>
        <script src="{{ url_for('static', filename='js/scripts.js') }}"></script>
    </body>
</html>
